p {
    text-align: left;
}

ol {
    text-align: left;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.image-drop-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 70%;
    width: 50%;
    min-width: 350px; /*Prevents it from shrinking too much*/
    min-height: 800px;
}

.main-content {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap on small screens */
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    height: 80%;
    width: 80%;
}

.drop-zone {
    width: 60%;
    height: 60%;
    border: 2px dashed #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    cursor: pointer;
    background-color: #fafafa;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    min-width: 5px; /* Prevents it from shrinking too much */
    min-height: 5px; /* Prevents it from shrinking too much */
    max-height: 300px;
}

.drop-zone:hover {
    background-color: #e0e0e0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

/* Ensure the button stays inside */
/* button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
} */

button:active {
    transform: translateY(2px); /* Moves button down slightly */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adds a soft shadow */
    background-color: #007BFF;
}

button:disabled {
    transform: translateY(0px); /* Moves button down slightly */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0); /* Adds a soft shadow */
    background-color: #ccc;
    cursor: not-allowed;
}

button:hover:active {
    background: #0056b3;
}

.info-container ul {
    list-style: none;
    padding: 0;
}

.info-container li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* Close button styling */
.close-button {
    position: absolute;
    top: 5px;
    left: 5px;
    background: none;
    color: black;
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 20px;
}

.close-button:hover {
    background: none;
}
.info-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.table-container {
    flex: 1;
    min-width: 400px;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}